header{
    background-color: #e24647;
}

h1,a{
    font-family: Arial;
    color: #ffffff;
}

h1{
    font-size: 40px;
    text-transform: uppercase;  
    
}

a{
    font-size: 20px;
    text-decoration: none;
}