header{
    background-color: #e24647;
    border: 1px solid blue;
}

h1,a{
    font-family: Arial;
    color: #ffffff;
}

h1{
    font-size: 40px;
    text-transform: uppercase;  
    top: 10px;
    position: relative;
}

a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    right: 200px;
    border: 1px solid green;
    position: relative;
    left: 720px;
    top: -20px;
}